.App {
  text-align: center;
  background: white;
  width: 100vw;
  height: 100hv;
}

.container {
  max-width: 60vw;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  flex-wrap: wrap;
  padding:1em;
  
}
.box {
  width: 600px;
  margin-top:10px;
  padding:10px;
  background: white;
}


.btn {
  border: 1px solid #c5c5c5;
  margin: 0.5em;
  background-color: #fafafa;
  color: black;
  font-size: calc(5px + 1vmin);
  padding: 1em;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  
}
.addRemoveAll {
 background: #61dafb;
}
.step-button {
  width:30%;
  background:rgb(56, 56, 255);
  font-size: calc(10px + 1vmin);
  color: white;
  font-weight: bold;
 }
.interations {
  background: black;
  color:white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
